@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Manrope;
	user-select: none;
}

body{
	background-color: #202632;
}
main{
	margin: auto;
	width: 360px;
	background-color: #313A49;
	border-radius: 7px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 3px 8px rgb(0 0 0 / 24%);

}
@media (max-width: 375px){
	main{
		width: 80%;
	}
}
#advice-id{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

h1{
	font-size: 12px;
	margin-top: 1.5rem;
	color: hsl(150, 100%, 66%);
	word-spacing: 5px;
	letter-spacing: 5px;
	text-align: center;
}

p{
	font-size: 22px;
	color: #C8DDE4;
	text-align: center;
}

#v-bar{
	width: 90%;
}

h1,p,#v-bar{
	margin-bottom: 1.5rem;
}

button{
	padding: 12px;
	border: none;
	border-radius: 50%;
	background-color: hsl(150, 100%, 66%);
	display: flex;
	place-items: center;
	margin-bottom: -1.2rem;
}
button:hover{
	cursor: pointer;
	box-shadow: 0 0 15px hsl(150, 100%, 66%);
}

button > img{
	width: 22px;
	height: 22px;
}


.attribution{
	width: 100%;
	position: fixed;
	bottom: 7px;
	text-align: center;
}